name: Check package version

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  check-version:
    name: Lint and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Check version
        run: yarn version check
